	<div class="banner">
      <div><a href="<%= @banners.first.link %> ">
      <img src="<%= @banners.first.avatar.url(:small)%>" ></a> </div>
    </div>
		<div class="banner">
      <div><a href="<%= @banners.last.link %>">
      <img src="<%= @banners.last.avatar.url(:small)%>" ></a> </div>
    </div>
