<div id="slide-wrapper">
      <ul id="slider">
      <% @slider.slides.each  do |slide| %>
        <li>
          <div class="border_on_img"></div>
          <div class="content_slider">
            <p><%= slide.content %></p>
          </div>
          <%= image_tag slide.avatar.url(:medium) %>
        </li>
      <% end %>
      </ul>
    </div>