 <% @i = -1 %>

 <% if @product_category.product_categories.count > 0 %>
 <div class="product-grid">
   	  <% @product_category.product_categories.each do |category| %>
   	  	<% if category.id !=  @product_category.id %>
   	  		<% if @i == 2  %>
	    
	    	<div class="box-product last-item row-first">
		        <div class="list_grid_right">
		          <h3 class="name "><a class="category_name" href="<%= product_category_path(category) %>" title=""><%= category.name %></a></h3>
		        </div>
		      </div>
		<% @i = 0 %>
		<% else %>      
			<div class="box-product">
		        <div class="list_grid_right">
		          <h3 class="name "><a class="category_name" href="<%= product_category_path(category) %>" title=""><%= category.name %></a></h3>
		        </div>
		      </div>
		      <% @i = @i + 1 %>
		<% end %>
		<% end %>
	  <% end %> 
		</div>

 <% end %>