<h2><%= @product_category.name %></h2>

<% if @product_category.product_categories.count > 0  %>
  <% @product_category.product_categories.each do |category| %>
    <%= link_to category.name, product_category_path(category) %><br/>
  <% end %>
<% end %>  

<hr/>

<% if @product_category.collections.count > 0  %>
  <% @product_category.collections.each do |collection| %>
    <%# link_to collection.name, product_category_collectionpath(@product_category, collection) %>
    <%= collection.name %><br/>
  <% end %>
<% end %>